html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}


.add_detail_img_btn{
  width: 100%;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: .3;
}

.add_detail_img_btn:hover{
  opacity: 1;
  color: #f54a74;
  background-color: rgba(245, 74, 116, 0.3);
}